{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>제 12회 영진직업전문학교</h1>
    <p class="lead">송암학생 작품대전</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>램프 제어</h2>
        <button onclick="led_on()">ON/OFF</button>
    </div>
    <div class="col-md-4">
        <h2>브저 제어</h2>
        <button onclick="beep_on()">ON/OFF</button>
    </div>
    <div class="col-md-4">
        <h2>선풍기 제어</h2>
        <button onclick="fan_on()">ON/OFF</button>
    </div>

</div>
<script>
    function led_on(){
        fetch("led/on")
        .then(response=> response.text())
        .then(data=>{
            console.log(data);
            let result =document.querySelector("#result");
            if(data=="ok"){
                result.innerHTML="<h1>램프 전등</h1>";
            }else{
                result.innerHTML="<h1>에러</h1>;"
            }
        });
    }
    function led_off(){
        fetch("/led/off")
        .then(response=> response.text())
        .then(data=>{
            console.log(data);
            let result=document.querySelector("#result");
            if(data=="ok"){
                result.innerHTML="<h1>램프 소등</h1>";
            }else{
                result.innerHTML="<h1>에러</h1>";
            }

        });
    }
</script>

{% endblock %}
